// SIZE
@mixin size($width: 100%, $height: 100%) {
    width: $width;
    height: $height;
}

// DISPLAY
@mixin display($display, $v1: none, $v2: none) {
    @if ($display == grid) {
        display: $display;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas: 
            'header header header header header'
            'section-content-one section-content-one section-content-one section-content-one section-content-one'
            'section-image-one section-image-one section-image-one section-image-one section-image-one'
            'section-content-two section-content-two section-content-two section-content-two section-content-two'
            'section-image-two section-image-two section-image-two section-image-two section-image-two'
        ;
        @include tablet() {
            grid-template-areas: 
                'header header header section-content-one section-content-one'
                'section-image-one section-content-two section-content-two section-content-two section-image-two'
            ;
        }
    }

    @if ($display == flex) {
        display: $display;
        align-items: $v1;
        justify-content: $v2;
        @content;
    } 

    @if ($display == none) {
        display: $display;
    }

    @if ($display == inline-block) {
        display: $display;
    }
}

// GRID-AREA
@mixin gridArea($name) {
    grid-area: $name;
    @content;
}

// POSITION
@mixin position($position){
    position: $position;
    @content;
}

/*
    MEDIA QUERIES
*/
// TABLET
@mixin tablet() {
    @media (min-width: 768px) {
        @content;
    }
}

// DESKTOPS LARGE
@mixin desktops-l() {
    @media (min-width: 995px) {
        @content;
    }
}
// DESKTOPS EXTRA LARGE
@mixin desktops-xl() {
    @media (min-width: 1440px) {
        @content;
    }
}