// FONT
$font: 'Spartan', sans-serif;

// COLOR
$dark-gray: rgb(161, 161, 161);
$black: rgb(12, 12, 12);
$white: rgb(248, 248, 248);
$very-dark-gray: rgb(69, 69, 69);

// Z-INDEX  
$low: -1;
$medium: 100;
$tall: 200;